@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(178, 255, 178);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(19, 100, 53);
}

#principal{
    text-align: center;
    background-color: rgb(133, 180, 139);

}

h2{
    color: rgb(77, 90, 84)
}

.basico{
    color: rgb(37, 156, 67);
    font-weight: bold;
}

.intermediario{
    color: rgb(255, 165, 31);
}

.avancado{
    color: rgb(255, 80, 80);
}

.destaque{
    background-color: rgba(194, 194, 56, 0.514);
}